/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable smooth scrolling with Tailwind CSS */
html {
  @apply scroll-smooth;
}


body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.dark .ql-editor{
  color: #9CA3AF;
}

.post-listing p {
  margin-bottom: 0.5rem;
}

.post-listing h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-listing h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-listing a {
  color: rgba(73, 149, 199);
  text-decoration: none;
}

.post-listing a:hover {
  text-decoration: underline;
}

.dark .post-listing a{
  color: blue;
}
.dark .post-listing{
  color: #9CA3AF;
}

.orange-gradient {
  background: #f97316; /* Solid orange fallback */
  background: linear-gradient(-90deg, #f97316 0%, rgba(249, 115, 22, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #f97316 0%,
    rgba(249, 115, 22, 0) 100%
  );
}
